#nav{
    flex-direction: column;
    text-align: center;
}
#nav ul{
    flex-direction: column;

    
}
#nav ul{
    align-items: center;
}
#nav ul li a{
    flex-direction: column;
width: 100px;


    
}
#h{
    font-size: 1.8rem;
}
#tea{
    flex-direction: column;
}

.logo{
    overflow: hidden;
    padding: 0px 2px;

    
}
.iteam{
    width: 10px;
    height: 10px;

}
.logo::before{
  
    background:url('D:/tea project/img/contact-us-2993000_1920.jpg');
   
    height: 150px;
   
}
#papa{
   
    flex-direction: column;
   
}
.center{
    font-size: 2rem;
}
.items{
    padding: 1px;
    font-size: 1px;
}